.DS_Store
imposm3
imposm3_parsemetadata
docs/_build
mapping.json
config.json
test/build
test/.lasttestrun*
test/*.pyc
contrib/monaco_osm2osc_test/output
contrib/monaco_osm2osc_test/output/_*
*~
*.swp
*.swo
